html {
            background-image: url("./images/bg.jpg");
}

body {
            font-family: Arial;
            font-size: 50px;
            text-align: center;
            
            background-color: rgba(202, 175, 141, 0.651);
}

button {
            color: black;        
            background-color: seashell;
            border: 2px solid black;
            font-size: 50px;
            border-radius: 8px;
}

div {
            padding: 1cm;
}